page-home {
  .scroll-content {
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    overflow: hidden;
  }

  .report-status {
    height: 10rem;
    border: 2px solid white;
    color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem
  }

  .selected {
    border: 0;
    color: #00293d;
    background-color: #ffffff;
  }

  .title {
    font-size: 1.5rem;
  }
}
