page-settings {
  .scroll-content {
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    overflow: hidden;
  }

  .settings-options {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .settings-item {
    opacity: 0.8;
  }
}
