page-settings {
  .scroll-content {
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    overflow: hidden;
  }

  .edit-button {
    width: 15%;
    margin: 4px;
  }

  .settings-options {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .settings-item {
    opacity: 0.8;
  }
}
