friends-page {
  .scroll-content {
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    overflow: hidden;
  }

  .users-list {
    z-index: 1;
    position: absolute;
    border-bottom: 2px grey solid;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
    width: 90%;
  }

  .edit-button {
    width: 40px;
    margin: 4px;
  }
}
