<ion-header>
  <ion-navbar>
    <ion-title>דוח 1</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="calendar-comp">
    <button
    mwlCalendarNextView
    [(viewDate)]="date"
    [view]="">
            Next
    </button>
    <ng-template #headerTemp>
      <div class="cal-cell-row">
        <div class="cal-cell cal-past columnHeader" *ngFor="let label of days_label">
          {{label}}
        </div>
      </div>
    </ng-template>
    <mwl-calendar-month-view [viewDate]="date"
                             [events]="reports"
                             [headerTemplate]="headerTemp">
    </mwl-calendar-month-view>
  </div>

  <ion-item *ngIf="editMode">
    <ion-label>תאריך תחילה</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startPlanDay" min="2017-06-26" max="2020" (ionChange)="setEndDay()"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="editMode">
    <ion-label>תאריך סיום</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="endPlanDay" min="2017" max="2020"></ion-datetime>
  </ion-item>

  <ion-list *ngIf="editMode">
    <ion-item>
      <ion-label>דיווח</ion-label>
      <ion-select [(ngModel)]="planStatus">
        <ion-option *ngFor="let status of reportStatuses" value="{{status.id}}">{{status.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button icon-only *ngIf="editMode" (click)="saveEdit()">
    <ion-icon name="checkmark"></ion-icon>
  </button>
  <button ion-button icon-only *ngIf="editMode" (click)="toggleEditMode()">
    <ion-icon name="close"></ion-icon>
  </button>

  <ion-fab right bottom *ngIf="!editMode">
    <button ion-fab (click)="toggleEditMode()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

